.passageText {
  opacity: 1 !important;
  cursor: default !important;
  user-select: none !important;
}

.userSelect {
  -moz-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.textArea {
  line-height: 1.65 !important;
  font-size: 18px;
}

.questionTextArea {
  font-size: 16px;
  line-height: normal;
}
