.passageText {
  opacity: 1 !important;
  cursor: default !important;
  user-select: none !important;
  line-height: 24px !important;
}

.userSelect {
  -moz-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animateBlink {
  animation: blink 1s 60;
}
